@{
    ViewData["Title"] = "Profile";
}

<!-- Main Section-->
<section class="mt-0 ">
    <!-- Page Content Goes Here -->
    <!-- Breadcrumbs-->
    <div class="bg-dark py-6">
        <div class="container-fluid ">
            <h1 class="mb-1 fs-2 fw-bold text-white text-center">Welcome @Context.User.Identity.Name</h1>
        </div>
    </div>
    <!-- / Breadcrumbs-->
</section>