@model IEnumerable<E_Commerce_MVC.ViewModels.CategoryMenuVM>

<div>
    <div class="filter-options mt-3" data-pixr-simplebar>
        @foreach (var item in Model)
        {
            <div class="form-group mb-1">
                <a class="form-check-label fw-normal text-body flex-grow-1 d-flex align-items-center"
                   asp-controller="Product" asp-action="Index" asp-route-category="@item.ProductId">
                    @item.ProductName  
                    <span class="text-muted ms-1 fs-9">(@item.Quantity)</span>
                </a>
            </div>
        }
    </div>
</div>