@model IEnumerable<E_Commerce_MVC.ViewModels.ProductVM>
@{
    ViewData["Title"] = "Index";
    Layout = "_ProductList";
}

<!-- Category Top Banner -->
@section Banner{ 
<div class="py-10 bg-img-cover bg-overlay-dark position-relative overflow-hidden bg-pos-center-center rounded-0"
         style="background-image: url('@Url.Content("~/src/assets/images/banners/banner-category-top.jpg")');">
    <div class="container-fluid position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
        <h1 class="fw-bold display-6 mb-4 text-white">Latest Arrivals</h1>
        <div class="col-12 col-md-6">
            <p class="text-white mb-0 fs-5">
                When it's time to head out and get your Kicks on, have a look at our latest arrivals. Whether you're into Nike, Adidas, Dunks or New Balance, we really have something for everyone!
            </p>
        </div>
    </div>
</div>
}
<!-- Category Top Banner -->

<!-- Category Toolbar-->
    @section Breadcrumb {
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Sneakers</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Releases</li>
                </ol>
            </nav>
        </div>
    }
<!-- /Category Toolbar-->

@await Html.PartialAsync("ProductItem", Model)
