@model IEnumerable<E_Commerce_MVC.ViewModels.ProductVM>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_ProductList.cshtml";
}

<h1>Search</h1>
@await Html.PartialAsync("ProductItem", Model)
